body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-align: center;
    background-color:#d9d9d9;
    background-image: url('news2.jpg');
    
  
  }
  
.login{
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 500px;
  width: 1000px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

  h1{
    padding-top: 100px;
      color : black;
      font-size: 64px;
  }

  #textboxid
{
    height:18px;
    width:800px;
    font-size:12pt;
    border: thin solid #666;
    border-radius:5px;
    text-align: center;
}

#button {
    height:26px;
    width:180px;
    font-size:12pt;
    border: thin solid #666;
    border-radius:5px;
    text-align: center;
    background-color: black;
    display: inline-block;
    color: white;
  }

  